html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    font-size: 15px;
}
.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}







/* ------------------- LANDING PAGE ------------------- */


/* Header */
.header {
    width: 100%;
    position: absolute;
    top: 0;
    background-color: #000;
    padding: 30px 0 30px 0;
    left: 0;
    right: 0;
    z-index: 1000;
}


.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    font-size: 13px;
    align-items: center;
}
.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 40px;
    position: relative;
    color: #FFF;
    text-decoration: none;
    transition: 0.2s;
}

.nav__link:hover:before {
    right: auto;
    width: 100%;
    left: 0;
}

.nav__link:before {
    content: "";
    position: absolute;
    height: 1px;
    width: 0%;
    background: #FFF;
    right: 0;
    bottom: -1px;
    transition: 0.5s ease;
}
.logo {
    width: 100%;
}

.header__logo {
    width: 15%;
}

.btn__sub {
    background: none;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 27px;
    padding: 5px 10px 5px 10px;
    transition: 0.3s;
}
.btn__sub:hover {
    background: #fff;
    color: #000;
    transition: 0.3s;
}
/* Intro */

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-size: cover;
}

.intro__title {
    font-size: 50px;
    max-width: 700px;
    font-weight: 500;
    line-height: 1.4;
    color: #FFF;
    margin: 10px auto;
}
.intro__text {
    color: #fff;
    opacity: 0.8;
}
.intro__inner {
    width: 100%;
    max-width: 700px;
    text-align: left;
}



/* Whales */
.whales {
    display: flex;
    width: 100%;
    height: 800px;
}
.whale__header {
    text-align: center;
}
.whale__link {
    text-decoration: none;
    color: #fff;
}
.whale__title {
    color: #fff;
    margin-top: 150%;
}
.whale__music {
    width: 20%;
    background: url("img/music.png") center no-repeat;
}
.whale__draw {
    width: 20%;
    background: url("img/draw.png") center no-repeat;
}
.whale__sport {
    width: 20%;
    background: url("img/sport.png") center no-repeat;
    background-size: cover;
}
.whale__chess {
    width: 20%;
    background: url("img/chess.png") center no-repeat;
    background-size: cover;
}
.whale__languages {
    width: 20%;
    background: url("img/lang.png") center no-repeat;
}


/* News form */
.form {
    background-color: #fff;
    display: none;
    border-radius: 27px;
    padding: 60px;
    width: 60%;
    margin: 30px auto;
    text-align: center;
}
.form input {
    width: 50%;
    padding: 5px;
    border: none;
    border-bottom: 1px solid #000;
    margin-bottom: 10px;
    transition: 0.3s;
}
.form button {
    width: 50%;
    padding: 5px;
    border: none;
    border-bottom: 1px solid #000;
    margin-bottom: 10px;
    transition: 0.3s;
}
.form textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid #000;
    margin-bottom: 10px;
}
/* News */
.section__news {
    background-color: #000;
    padding-top: 90px;
}
.section__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section__header button {
    padding: 10px 20px 10px 20px;
    font-size: 17px;
    border: 2px solid #fff;
    border-radius: 27px;
    background: none;
    color: #fff;
    transition: 0.3s;
}

.section__header button:hover {
    color: #000;
    background: #fff;
    transition: 0.3s;
}
.section__header input {
    padding: 10px 20px 10px 20px;
    border-radius: 27px;
    border: 2px solid #fff;
    background: none;
    color: #fff;
    transition: 0.3s;
}
.section__header input:focus {
    border: 2px solid #fff;
    background-color: #fff;
    color: #000;
    transition: 0.3s;
}
.section__header h1 {
    color: #fff;
}
.news {
    background-color: #fff;
    padding: 30px 50px 30px 50px;
    border-radius: 50px;
    margin-top: 80px;
}
.new__block {
    margin: 0 auto;
    border-radius: 50px;
    width: 100%;
}
.new__date {
    font-size: 14px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
}
.new__body {
    display: flex;
    justify-content: space-between;
}
.new__image img {
    padding: 30px;
    width: 450px;
}



/* Footer */

.footer {
    background-color: #000;
}
.footer__logo {
    width: 100%;
    max-width: 200px;
    height: 50px;
}
.footer__menu {
    padding: 100px 0 50px 0;
    display: flex;
    justify-content: space-between;
}

.footer__contacts a {
    color: #fff;
    text-decoration: none;
    display: block;
    font-size: 17px;
    line-height: 2;
}
.footer__contacts {
    width: 200px;
}

.footer__contacts__2 a {
    color: white;
    text-decoration: none;
    display: block;
    font-size: 17px;
    line-height: 2;
}

.footer__contacts__2 {
    width: 300px;
}

.footer__contacts__3 a {
    color: white;
    text-decoration: none;
    font-size: 30px;
}

.footer__contacts__3 p {
    color: white;
    font-size: 16px;
    opacity: 0.7;
}

.footer__button {
    padding: 10px 30px;
    display: inline-block;
    margin-top: 10px;
    font-size: 15px;
    background: none;
    color: rgb(255, 255, 255);
    border-radius: 1px;
    border: 2px solid rgb(255, 255, 255);
    transition: 0.3s;
    text-decoration: none;
}

.footer__button:hover {
    transition: 0.3s ease;
    background-color: #fff;
    color: #000;
}















/* ------------------- MUSIC PAGE ------------------- */

/* Intro */

.intro__music {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url("img/music_bg.png") center no-repeat;
    background: linear-gradient();
    background-size: cover;
}

.intro__music__title {
    font-size: 50px;
    font-weight: 500;
    line-height: 1.5;
    color: #FFF;
    margin: 0;
}
.intro__music__label {
    font-size: 25px;
    font-weight: 500;
    line-height: 1.5;
    color: #FFF;
    margin: 0;
}
.intro__music__inner {
    width: 100%;
    max-width: 500px;
    text-align: left;
}
